* {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(72, 72, 72);
}

body {
    background-color: #3a4965; 
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: calc(1140px + 320px); 
    height: 680px;
    margin: auto;
    background-color: white;
    padding: 0px;
    box-sizing: border-box;
    top: 30px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 340px;
    height: 60px;
    border-left: 1px solid #cfcfcf;
    text-align: center;
    vertical-align: middle;
}

.backcolorwhgrey {
    background-color: #f2f2f2;
}

.backcolorgrey {
    background-color: #e3e3e3;
}

.flex {
    text-align: center;
    width: 100%;
}

.stext {
    font-weight: bold;
    font-size: 18px;
}

.btext {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 13px;
}

i {
    padding: 10px;
}

.grnbuttonup,
.redbuttonup,
.bluebuttonup {
    height: 70px;
    width: 100%;
    border: 0px;
    margin-top: -5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.grnbuttonup,
.grnbuttondown {
    background-color: #89c331;
}

.redbuttonup,
.rebbuttondown {
    background-color: #f04a56;
}

.bluebuttonup,
.bluebuttondown {
    background-color: #20807c;
}

.greubuttondown {
    background-color: #484848;
    height: 49px;
    width: 47%;
    border: 0px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin: 25px 0;
    cursor: pointer;
}

.flexnumber {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondprice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bnumber {
    font-weight: bold;
    font-size: 43px;
}

.snumber {
    font-weight: bold;
    font-size: 17px;
}

.flexmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grnbuttondown,
.rebbuttondown,
.bluebuttondown {
    height: 49px;
    width: 60%;
    border: 0px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin: 25px 0;
    cursor: pointer;
}

.greubuttondown:hover,
.grnbuttondown:hover,
.rebbuttondown:hover,
.bluebuttondown:hover {
    background-image: linear-gradient(to bottom, transparent, rgba(128, 128, 128, 0.5)); 
    background-repeat: no-repeat;
    background-position: bottom; 
}
