* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    width: 1280px; 
    margin: 0 auto; 
}

header {
    max-width: 1280px; 
    margin: 0 auto; 
}

header .textRamda {
    display: inline-block;
    font-size: 80px;
    margin-left: -40px; 
    margin-top: 80px;
}

header .textRamda a {
    text-decoration: none; 
}

.startWord {
    color: rgb(0, 0, 0);
}

.restWord {
    color: rgb(75, 205, 255);
}

.menu {
    list-style: none;
    padding: 80px 0;
    text-align: center;
    white-space: nowrap;
    position: relative;
}

.menu::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -35px;
    right: -35px; 
    width: auto; 
    height: 80px;
    background-color: rgb(53, 68, 79);
    z-index: -1;
}

.menu a {
    font-size: 24px;
    color: rgb(238, 248, 255);
    text-decoration: none;
    margin-right: 80px;
}

.secondmenu {
    border: 2px solid grey; 
    width: 350px;
    margin-left: -35px;
    padding-left: 45px;
}

.secondmenu nav a {
    text-decoration: none; 
}

.secondmenu a{
    color: rgb(73,88,99);
    font-size: 28px;
    line-height: 80px;
}

.secondmenu a:hover{
    color: black;
    padding-left: 35px;
    transition: padding-left 1.5s ease;
}

.imageed {
    position: relative;
    width: 500px;
    height: 300px; 
}

.imageed img {
    position: absolute;
    bottom: 175px;
    left: 430px; 
}

p.textone {
    color:rgb(33,33,33);
    margin-left: 37%;
    line-height: 1.5;
    margin-top: -10%;
    margin-bottom: 20px;
}

p.texttwo {
    color:rgb(44,44,44);
    margin-left: 37%;
    line-height: 1.5;
}

.thirdmenu {
    list-style: none;
    padding: 80px 0;
    text-align: left;
    white-space: nowrap;
    position: relative;
    display: inline-block;
}

.thirdmenu::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -35px;
    right: -35px; 
    width: auto; 
    height: 80px;
    background-color: rgb(180, 183, 186);
    z-index: -1;
}

.thirdmenu a {
    font-size: 28px;
    color: rgb(12, 25, 39);
    text-decoration: none;
    margin-right: 30px;
}

.thirdmenu a:hover {
    color: rgb(49,129,166);
    text-decoration: underline;
}

.thirdmenu span {
    font-size: 28px;
    color: rgb(12, 25, 39);
    margin-left: 125px; 
}






